/* style.css */
body, html {
    height: 100%;
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f0f8ff;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.container {
    padding: 20px;
}

h1 {
    color: #333;
    margin-bottom: 20px;
}

.link-btn {
    display: inline-block;
    padding: 10px 20px;
    margin: 5px;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    background-image: linear-gradient(to right, #00c6ff, #0072ff, #3a7bd5);
    transition: background-image 0.5s ease, transform 0.2s ease;
}

.link-btn:hover {
    background-image: linear-gradient(to right, #2af598, #009efd);
    transform: translateY(-5px);
}
